* {
    margin: 0px;
    padding: 0px;
}

body h1, h2, h3, h4, h5, h6,
p, a, ul, li {
    padding: 0;
    margin: 0;

}

:root {
    --metalic-blue: #29487D;
    --chinese-blue: #3C5898;
    --wild-blue-yonder: #9CB2CE;
    --gainsboro: #D4D8E8;
    --white-fb: #fefefe;
}

img {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--gainsboro);
}

#title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--chinese-blue);
    color: var(--white-fb);
    width: 100%;
    box-shadow:2px 0 5px black;
    position: fixed;
    z-index: 10;
    top: 0;
}

#title h1, p {
    padding: 24px;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-fb);
    width: 600px;
    border-radius: 16px;
    margin-bottom: 24px;
    margin-top: 100px;
    padding: 32px;
    box-shadow: 1px 2px 3px lightgray;
}

#img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    max-width: 100%;
}

#image {
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

#img-caption {
    display: flex;
    justify-content: center;
}

#tribute-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 0;
}

#tribute-info p {
    padding: 0;    
}

.name {
    font-weight: bold;
}
.facebook {
    padding-top: 40px;    
}

.facebook h2 {
    padding: 32px 0;
    text-align: center;
    color: var(--chinese-blue);
}

.facebook p {
    text-indent: 40px;
}

.facebook-container {
    padding: 8px 0;
}
.facebook-container h3 {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--gainsboro);
}

.facebook-container p {
    text-align: justify;
}

.facebook-container div {
    margin-bottom: 40px;
}

footer a {
    color: var(--metalic-blue);
    font-weight: bold;
}

footer a:hover {
    color: var(--chinese-blue);
}

@media screen and (max-width: 460px) {
    #content-wrapper {
        width: 100%;
    }
}